<!DOCTYPE html>
<html class="h-full" data-kt-theme="true" data-kt-theme-mode="light" dir="ltr" lang="fr">
<head>
  <title>Mot de passe oublié | LivrExpress</title>
  <meta charset="utf-8"/>
  <meta content="follow, index" name="robots"/>
  <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport"/>
  <meta content="Réinitialisation du mot de passe" name="description"/>
  
  <link href="{{ asset('assets/media/app/apple-touch-icon.png') }}" rel="apple-touch-icon" sizes="180x180"/>
  <link href="{{ asset('assets/media/app/favicon-32x32.png') }}" rel="icon" sizes="32x32" type="image/png"/>
  <link href="{{ asset('assets/media/app/favicon-16x16.png') }}" rel="icon" sizes="16x16" type="image/png"/>
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&amp;display=swap" rel="stylesheet"/>
  
  <link href="{{ asset('assets/vendors/apexcharts/apexcharts.css') }}" rel="stylesheet"/>
  <link href="{{ asset('assets/vendors/keenicons/styles.bundle.css') }}" rel="stylesheet"/>
  <link href="{{ asset('assets/css/styles.css') }}" rel="stylesheet"/>
</head>
<body class="antialiased flex h-full text-base text-foreground bg-background">
  <!-- Theme Mode -->
  <script>
    const defaultThemeMode = 'light';
    let themeMode;

    if (document.documentElement) {
        if (localStorage.getItem('kt-theme')) {
            themeMode = localStorage.getItem('kt-theme');
        } else if (
            document.documentElement.hasAttribute('data-kt-theme-mode')
        ) {
            themeMode =
                document.documentElement.getAttribute('data-kt-theme-mode');
        } else {
            themeMode = defaultThemeMode;
        }

        if (themeMode === 'system') {
            themeMode = window.matchMedia('(prefers-color-scheme: dark)').matches
                ? 'dark'
                : 'light';
        }

        document.documentElement.classList.add(themeMode);
    }
  </script>
  <!-- End of Theme Mode -->

  <!-- Page -->
  <style>
    .branded-bg {
        background-image: url('{{ asset('assets/media/images/2600x1600/bg-1.png') }}');
    }
    .dark .branded-bg {
        background-image: url('{{ asset('assets/media/images/2600x1600/bg-1-dark.png') }}');
    }
  </style>

  <div class="grid lg:grid-cols-2 grow">
    <div class="flex justify-center items-center p-8 lg:p-10 order-2 lg:order-1">
      <div class="kt-card max-w-[370px] w-full">
        <form method="post" action="#" class="kt-card-content flex flex-col gap-5 p-10" id="forgot_password_form">
          <div class="text-center mb-2.5">
            <h3 class="text-lg font-medium text-mono leading-none mb-2.5">Mot de passe oublié 🔒</h3>
            <div class="flex items-center justify-center font-medium">
              <span class="text-sm text-secondary-foreground me-1.5">Entrez votre e-mail pour réinitialiser</span>
            </div>
          </div>
          <div class="text-center -mt-2.5 mb-2.5">
             <span class="text-xs text-secondary-foreground">Nous vous enverrons des instructions de réinitialisation</span>
          </div>
          
          <div class="flex flex-col gap-1">
            <label class="kt-form-label font-normal text-mono">
              Adresse email *
            </label>
            <input class="kt-input" placeholder="Adresse email" type="email" name="email" required value=""/>
          </div>
          
          <button type="submit" class="kt-btn kt-btn-primary flex justify-center grow">
            Continuer
            <i class="ki-filled ki-black-right"></i>
          </button>

          <div class="text-center">
            <a class="text-sm link" href="{{ path('app_login') }}">
              Retour à la page de connexion
            </a>
          </div>
        </form>
      </div>
    </div>

    <div class="lg:rounded-xl lg:border lg:border-border lg:m-5 order-1 lg:order-2 bg-top xxl:bg-center xl:bg-cover bg-no-repeat branded-bg">
      <div class="flex flex-col p-8 lg:p-16 gap-4">
        <a href="/">
          <img class="h-[28px] max-w-none" src="https://keenthemes.com/metronic/tailwind/dist/assets/media/app/mini-logo.svg"/>
        </a>
        <div class="flex flex-col gap-3">
          <h3 class="text-2xl font-semibold text-mono">Security First</h3>
          <div class="text-base font-medium text-secondary-foreground">
            Nous prenons la sécurité de vos données très au sérieux. 
            <br/>
            Suivez les instructions envoyées par email 
            <span class="text-mono font-semibold">pour récupérer l'accès</span> à votre compte en toute sécurité.
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- End of Page -->


  <!-- Scripts -->
  <script src="{{ asset('assets/js/core.bundle.js') }}"></script>
  <script src="{{ asset('assets/vendors/ktui/ktui.min.js') }}"></script>
  <script src="{{ asset('assets/vendors/apexcharts/apexcharts.min.js') }}"></script>
  <!-- End of Scripts -->
</body>
</html>
