<!DOCTYPE html>
<html class="h-full" data-kt-theme="true" data-kt-theme-mode="light" dir="ltr" lang="fr">
<head>
  <title>Espace des clients | LivrExpress</title>
  <meta charset="utf-8"/>
  <meta content="follow, index" name="robots"/>
  <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport"/>
  <meta content="Page de connexion utilisant Tailwind CSS" name="description"/>
  
  <link href="{{ asset('assets/media/app/apple-touch-icon.png') }}" rel="apple-touch-icon" sizes="180x180"/>
  <link href="{{ asset('assets/media/app/favicon-32x32.png') }}" rel="icon" sizes="32x32" type="image/png"/>
  <link href="{{ asset('assets/media/app/favicon-16x16.png') }}" rel="icon" sizes="16x16" type="image/png"/>
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&amp;display=swap" rel="stylesheet"/>
  
  <link href="{{ asset('assets/vendors/apexcharts/apexcharts.css') }}" rel="stylesheet"/>
  <link href="{{ asset('assets/vendors/keenicons/styles.bundle.css') }}" rel="stylesheet"/>
  <link href="{{ asset('assets/css/styles.css') }}" rel="stylesheet"/>
</head>
<body class="antialiased flex h-full text-base text-foreground bg-background">
  <!-- Theme Mode -->
  <script>
    const defaultThemeMode = 'light'; // light|dark|system
    let themeMode;

    if (document.documentElement) {
        if (localStorage.getItem('kt-theme')) {
            themeMode = localStorage.getItem('kt-theme');
        } else if (
            document.documentElement.hasAttribute('data-kt-theme-mode')
        ) {
            themeMode =
                document.documentElement.getAttribute('data-kt-theme-mode');
        } else {
            themeMode = defaultThemeMode;
        }

        if (themeMode === 'system') {
            themeMode = window.matchMedia('(prefers-color-scheme: dark)').matches
                ? 'dark'
                : 'light';
        }

        document.documentElement.classList.add(themeMode);
    }
  </script>
  <!-- End of Theme Mode -->

  <!-- Page -->
  <style>
    .branded-bg {
        background-image: url('{{ asset('assets/media/images/2600x1600/1.png') }}');
    }
    .dark .branded-bg {
        background-image: url('{{ asset('assets/media/images/2600x1600/1-dark.png') }}');
    }
  </style>

  <div class="grid lg:grid-cols-2 grow">
    <div class="flex justify-center items-center p-8 lg:p-10 order-1">
      <div class="kt-card max-w-[370px] w-full">
        <form method="post" action="{{ path('app_login') }}" class="kt-card-content flex flex-col gap-5 p-10" id="sign_in_form">
          {% if error %}
              <div class="bg-light-danger border border-danger text-danger px-4 py-3 rounded relative mb-4" role="alert">
                  {{ error.messageKey|trans(error.messageData, 'security') }}
              </div>
          {% endif %}

          <div class="text-center mb-2.5">
            <h3 class="text-lg font-medium text-mono leading-none mb-2.5">Espace des clients</h3>
            <div class="flex items-center justify-center font-medium">
              <span class="text-sm text-secondary-foreground me-1.5">Pas encore de compte ?</span>
              <a class="text-sm kt-link auth-link-custom" href="{{ path('app_register') }}">S'inscrire</a>
            </div>
          </div>
          
          <div class="flex flex-col gap-1">
            <label class="kt-form-label font-normal text-mono" for="inputUsername">Adresse email</label>
            <input type="text" value="{{ last_username }}" name="_username" id="inputUsername" class="kt-input" autocomplete="username" required autofocus placeholder="email@email.com">
          </div>
          
          <div class="flex flex-col gap-1">
            <div class="flex items-center justify-between gap-1">
              <label class="kt-form-label font-normal text-mono" for="inputPassword">Mot de passe</label>
              <a class="text-sm kt-link auth-link-custom shrink-0" href="{{ path('app_forgot_password') }}">Mot de passe oublié ?</a>
            </div>
            <div class="kt-input" data-kt-toggle-password="true">
              <input type="password" name="_password" id="inputPassword" autocomplete="current-password" required placeholder="Entrez votre mot de passe">
              <button class="kt-btn kt-btn-sm kt-btn-ghost kt-btn-icon bg-transparent! -me-1.5" data-kt-toggle-password-trigger="true" type="button">
                <span class="kt-toggle-password-active:hidden">
                  <i class="ki-filled ki-eye text-muted-foreground"></i>
                </span>
                <span class="hidden kt-toggle-password-active:block">
                  <i class="ki-filled ki-eye-slash text-muted-foreground"></i>
                </span>
              </button>
            </div>
          </div>
          
          <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

          <label class="kt-label">
            <input class="kt-checkbox kt-checkbox-sm" name="_remember_me" type="checkbox" value="1"/>
            <span class="kt-checkbox-label">Se souvenir de moi</span>
          </label>
          
          <button class="kt-btn kt-btn-primary flex justify-center grow" type="submit">Connexion</button>

          <div class="flex items-center gap-2">
            <span class="border-t border-border w-full"></span>
            <span class="text-xs text-muted-foreground font-medium uppercase">Ou</span>
            <span class="border-t border-border w-full"></span>
          </div>

          <a class="kt-btn kt-btn-outline justify-center" href="{{ path('app_login_staff') }}">Connexion Staff</a>
        </form>
      </div>
    </div>

    <div class="lg:rounded-xl lg:border lg:border-border lg:m-5 order-2 bg-top xxl:bg-center xl:bg-cover bg-no-repeat branded-bg">
      <div class="flex flex-col p-8 lg:p-16 gap-4">
        <a href="/">
          <img class="h-[28px] max-w-none" src="https://keenthemes.com/metronic/tailwind/dist/assets/media/app/mini-logo.svg"/>
        </a>
        <div class="flex flex-col gap-3">
          <h3 class="text-2xl font-semibold text-mono">LivrExpress Portal</h3>
          <div class="text-base font-medium text-secondary-foreground">
            Votre solution complète pour la gestion logistique.
            <br/>
            Accédez à vos expéditions, suivez vos colis 
            <span class="text-mono font-semibold">et optimisez vos opérations</span> en quelques clics.
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- End of Page -->


  <!-- Scripts -->
  <script src="{{ asset('assets/js/core.bundle.js') }}"></script>
  <script src="{{ asset('assets/vendors/ktui/ktui.min.js') }}"></script>
  <script src="{{ asset('assets/vendors/apexcharts/apexcharts.min.js') }}"></script>
  <!-- End of Scripts -->
</body>
</html>
