{% extends 'base_dashboard.html.twig' %}

{% block title %}Importer Colis - LivrExpress{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('assets/css/colis-new.css?v=3') }}" rel="stylesheet"/>
    <link href="{{ asset('assets/css/colis-import.css?v=1') }}" rel="stylesheet"/>
{% endblock %}

{% block body %}
<!-- Content -->
<main class="grow pt-5 profile-content-shift" id="content" role="content">
    <!-- Container -->
    <div class="kt-container-fixed">        
        <div id="dynamic-flash-container" class="flex flex-col gap-3 w-full max-w-md mb-3 h-0 overflow-visible z-[100]"></div>
        {% include 'partials/_flash_messages.html.twig' with { flash_inline: true } %}
        <div class="flex flex-wrap items-center lg:items-end justify-between gap-5 pb-7.5">
            <div class="flex flex-col justify-center gap-2">
                <h1 class="text-xl font-medium leading-none text-mono">
                    Importer Colis
                </h1>
                <div class="flex items-center gap-2 text-sm font-normal text-secondary-foreground">
                    Ajoutez tous vos colis en un clic
                </div>
            </div>
            <div class="flex flex-col items-end gap-2.5">
                <div class="flex items-center gap-2.5">
                <a class="kt-btn kt-btn-info" href="{{ asset('assets/downloads/models/MODELE.xlsx') }}" download>
                    <i class="ki-filled ki-file-down"></i>
                    Télécharger Modèle  
                </a>
                <a class="kt-btn kt-btn-success" href="{{ asset('assets/downloads/models/MODELE_V2.xlsx') }}" download>
                    <i class="ki-filled ki-file-down"></i>
                    Télécharger Modèle V2
                </a>
                </div>
            </div>
        </div>
    </div>
    <!-- End of Container -->
    <!-- Container -->
    <div class="kt-container-fixed">
        <!-- begin: grid -->
        <div class="grid grid-cols-1 gap-5 lg:gap-7.5">
            <div class="col-span-1">
                <div class="kt-card">
                    <div class="kt-card-content px-10 py-7.5 lg:pe-12.5">
                        <div class="flex flex-col lg:flex-row items-start lg:items-center justify-between gap-6 md:gap-10 p-2.5">
                            <div class="flex flex-col items-start gap-3 w-full lg:max-w-[60%]">
                                <h2 class="text-xl font-semibold text-mono">
                                    Informations
                                </h2>
                                <div class="grid grid-cols-1 gap-2 w-full">
                                    <div class="flex items-start gap-1.5 lg:pe-7.5">
                                        <i class="ki-filled ki-check-circle text-base text-green-500"></i>
                                        <span class="text-sm text-mono">
                                            Pour assurer une livraison rapide de vos commandes, veuillez inclure l'adresse complète ou le quartier du client à l'intérieur du colis.
                                        </span>
                                    </div>
                                    <div class="flex items-start gap-1.5 lg:pe-7.5">
                                        <i class="ki-filled ki-check-circle text-base text-green-500"></i>
                                        <span class="text-sm text-mono">
                                            Pour les colis d'un poids supérieur à 5 kg ou d'une longueur excédant 30 cm, des frais supplémentaires seront ajoutés.
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="shrink-0 self-center lg:self-auto flex items-center justify-center">
                                <i class="colis-info-icon ki-filled ki-information dark:hidden text-primary" style="font-size: 80px; line-height: 1;"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-span-1">
                <div class="kt-card">
                    <div class="kt-card-content p-5 lg:p-7.5">
                        <div id="import-messages" class="mb-5 hidden"></div>
                        <form action="{{ path('app_colis_import_process') }}" 
                              class="w-full" 
                              method="POST" 
                              enctype="multipart/form-data" 
                              id="colis-import-form">
                            <input type="hidden" name="_token" value="{{ csrf_token('colis_import') }}"/>
                            <div class="dropzone dropzone-clickable flex bg-center w-full p-5 lg:p-7 bg-no-repeat bg-[length:550px] border border-input rounded-xl border-dashed branding-bg" 
                                 id="colis-import-dropzone">
                                <div class="dz-message flex flex-col place-items-center place-content-center text-center rounded-xl w-full">
                                    <div class="flex items-center mb-2.5">
                                        <div class="relative size-11 shrink-0">
                                            <svg class="w-full h-full stroke-primary/10 fill-light" fill="none" height="48" viewBox="0 0 44 48" width="44" xmlns="http://www.w3.org/2000/svg">
                                                <path d="M16 2.4641C19.7128 0.320509 24.2872 0.320508 28 2.4641L37.6506 8.0359C41.3634 10.1795 43.6506 18.4282V29.5718C43.6506 33.859 41.3634 37.8205 37.6506 39.9641L28 45.5359C24.2872 47.6795 19.7128 47.6795 16 45.5359L6.34937 39.9641C2.63655 37.8205 0.349365 33.859 0.349365 29.5718V18.4282C0.349365 14.141 2.63655 10.1795 6.34937 8.0359L16 2.4641Z" fill=""></path>
                                                <path d="M16.25 2.89711C19.8081 0.842838 24.1919 0.842837 27.75 2.89711L37.4006 8.46891C40.9587 10.5232 43.1506 14.3196 43.1506 18.4282V29.5718C43.1506 33.6804 40.9587 37.4768 37.4006 39.5311L27.75 45.1029C24.1919 47.1572 19.8081 47.1572 16.25 45.1029L6.59937 39.5311C3.04125 37.4768 0.849365 33.6803 0.849365 29.5718V18.4282C0.849365 14.3196 3.04125 10.5232 6.59937 8.46891L16.25 2.89711Z" stroke="" stroke-opacity="0.2"></path>
                                            </svg>
                                            <div class="absolute leading-none left-2/4 top-2/4 -translate-y-2/4 -translate-x-2/4">
                                                <i class="ki-filled ki-file-up text-xl ps-px text-primary"></i>
                                            </div>
                                        </div>
                                    </div>
                                    <span class="text-mono text-sm font-medium hover:text-primary mb-px">
                                        Cliquez ou Glissez-déposez ici
                                    </span>
                                    <span class="text-xs text-secondary-foreground text-nowrap">
                                        Excel (.xlsx, .xls) ou CSV (max. 5MB)
                                    </span>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!-- end: grid -->
    </div>
    <!-- End of Container -->
</main>
<!-- End of Content -->
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('assets/vendors/dropzone/dropzone.js') }}"></script>
    <script src="{{ asset('assets/js/colis-import.js?v=2') }}"></script>
{% endblock %}
